@import '../../styles/styles';

.StorybookStylerComponent {
    min-height: 100vh;
    padding: $padding-medium;

    background-color: $color-neutral-200;

    & > * {
        margin-bottom: $margin-large;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
