@import '../../styles/styles';

.NavigationBarComponent {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: $padding-medium
        $padding-large;

    background-color: $color-neutral-100;
}
