@import '../../styles/styles';

.ModalComponent {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    padding: $padding-medium;

    &__background {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: $color-neutral-500;
        cursor: pointer;
        opacity: 0.8;
    }

    &__dialog-wrapper {
        display: flex;
        align-items: center;
    }

    &__dialog {
        position: relative;

        width: 100%;
        margin-bottom: calc($planck-length * 10);
        padding: $padding-medium;

        background-color: $color-neutral-100;
        border-radius: $border-radius-medium;
    }
}
