/* stylelint-disable import-notation */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Cormorant:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700');

// Font sizes used for things other than headers
$font-size-xsmall: 12px;
$font-size-small: 16px;
$font-size-regular: 18px;
$font-size-large: 22px;

// List of font sizes
$font-sizes: (
    'xsmall': $font-size-xsmall,
    'small': $font-size-small,
    'medium': $font-size-regular,
    'large': $font-size-large
);

// Font families for display and reading
$font-family-default: 'Comfortaa', sans-serif;
$font-family-text-block: 'Cormorant', serif;

// Default font color
$font-color-default: $color-neutral-500;
