// Paddings
$padding-small: #{$planck-length};
$padding-medium: #{$planck-length *
    2};
$padding-large: #{$planck-length *
    4};

// Margins
$margin-small: #{$planck-length};
$margin-medium: #{$planck-length *
    2};
$margin-large: #{$planck-length *
    4};
