@import './resets';
@import './colors';
@import './units';
@import './fonts';
@import './spacings';
@import './stylings';
@import './helpers';
@import './mixins';

* {
    box-sizing: border-box;
}

body {
    color: $font-color-default;
    font-weight: 500;
    font-size: 18px;
    font-family: $font-family-default;

    background-color: $color-neutral-200;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
