@import './resets';
@import './colors';
@import './units';
@import './fonts';
@import './spacings';
@import './stylings';

* {
    box-sizing: border-box;
}

body {
    color: $color-neutral-500;
    font-weight: 500;
    font-size: 18px;
    font-family: $font-family-default;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
