@import '../../styles/styles';

.SearchComponent {
    &__basic-search {
        button {
            width: calc($planck-length * 5);
        }
    }

    &__advanced-search {
        display: none;
        width: 100%;
        margin-top: $margin-medium;

        &--visible {
            display: inline-block;
        }
    }
}
