@import '../../styles/styles';

$letter-spacing: 0.05em;

.ButtonComponent {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: solid
            $color-primary-100
            2px;
        outline-offset: 1px;
    }

    &--primary {
        height: calc(
            $planck-length *
                6
        );
        padding: 0
            $padding-medium;

        color: $color-neutral-100;
        font-weight: bold;
        font-size: $font-size-regular;
        font-family: $font-family-default;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;

        border-radius: $border-radius-medium;

        &-color-primary {
            background-color: $color-primary-300;
        }

        &-color-secondary {
            background-color: $color-secondary-300;
        }

        &-color-accent {
            background-color: $color-accent-300;
        }

        &-disabled {
            &-color-primary {
                background-color: $color-primary-100;
            }

            &-color-secondary {
                background-color: $color-secondary-200;
            }

            &-color-accent {
                background-color: $color-accent-200;
            }
        }
    }

    &--secondary {
        height: calc(
            $planck-length *
                6
        );
        padding: 0
            $padding-medium;

        color: $color-accent-300;
        font-weight: bold;
        font-size: $font-size-regular;
        font-family: $font-family-default;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;

        border-style: solid;
        border-width: 3px;
        border-radius: $border-radius-medium;

        &-color-primary {
            color: $color-primary-300;

            border-color: $color-primary-300;
        }

        &-color-secondary {
            color: $color-secondary-300;

            border-color: $color-secondary-300;
        }

        &-color-accent {
            color: $color-accent-300;

            border-color: $color-accent-300;
        }

        &-disabled {
            &-color-primary {
                color: $color-primary-200;

                border-color: $color-primary-200;
            }

            &-color-secondary {
                color: $color-secondary-200;

                border-color: $color-secondary-200;
            }

            &-color-accent {
                color: $color-accent-200;

                border-color: $color-accent-200;
            }
        }
    }

    &--inline {
        padding: 0;

        font-size: inherit;
        font-family: inherit;
        text-decoration: underline;

        &-color-primary {
            color: $color-primary-300;
        }

        &-color-secondary {
            color: $color-secondary-300;
        }

        &-color-accent {
            color: $color-accent-300;
        }

        &-disabled {
            &-color-primary {
                color: $color-primary-200;
            }

            &-color-secondary {
                color: $color-secondary-200;
            }

            &-color-accent {
                color: $color-accent-200;
            }
        }
    }
}
