@import '../../styles/styles';

$letter-spacing: 0.05em;

.ButtonComponent {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: solid $color-primary-100 2px;
        outline-offset: 1px;
    }

    &--primary,
    &--secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc($planck-length * 5);
        padding: $padding-small $padding-large;

        font-weight: bold;
        font-size: $font-size-small;
        font-family: $font-family-default;
        letter-spacing: $letter-spacing;

        border-radius: $border-radius-small;
        box-shadow: $box-shadow-200;

        &-icon-only {
            padding: $padding-small $padding-medium;
        }
    }

    &--primary {
        color: $color-neutral-100;

        &-color-primary {
            background-color: $color-primary-300;
        }

        &-color-secondary {
            background-color: $color-secondary-300;
        }

        &-color-accent {
            background-color: $color-accent-300;
        }

        &-color-success {
            background-color: $color-success-300;
        }

        &-color-warning {
            background-color: $color-warning-300;
        }

        &-color-danger {
            background-color: $color-danger-300;
        }

        &-color-neutral {
            background-color: $color-neutral-600;
        }

        &-disabled {
            cursor: default;
            opacity: $opacity-disabled;
        }
    }

    &--secondary {
        color: $font-color-default;

        border-style: solid;
        border-width: 1px;

        &-color-primary {
            border-color: $color-primary-300;
        }

        &-color-secondary {
            border-color: $color-secondary-300;
        }

        &-color-accent {
            border-color: $color-accent-300;
        }

        &-color-success {
            border-color: $color-success-300;
        }

        &-color-warning {
            border-color: $color-warning-300;
        }

        &-color-danger {
            border-color: $color-danger-300;
        }

        &-color-neutral {
            border-color: $color-neutral-600;
        }

        &-disabled {
            cursor: default;
            opacity: $opacity-disabled;
        }
    }

    &--inline {
        padding: 0;

        font-size: inherit;
        font-family: inherit;
        text-decoration: none;

        &-accented {
            text-decoration: underline;
        }

        &-color-primary {
            color: $color-primary-300;
        }

        &-color-secondary {
            color: $color-secondary-300;
        }

        &-color-accent {
            color: $color-accent-300;
        }

        &-color-success {
            color: $color-success-300;
        }

        &-color-warning {
            color: $color-warning-300;
        }

        &-color-danger {
            color: $color-danger-300;
        }

        &-color-neutral {
            color: $font-color-default;
        }

        &-disabled {
            &-color-primary {
                color: $color-primary-200;
            }

            &-color-secondary {
                color: $color-secondary-200;
            }

            &-color-accent {
                color: $color-accent-200;
            }
        }
    }
}
