@import '../../styles/styles';

$primary-button-diameter: calc($planck-length * 8);
$background-color: rgba($color-neutral-600, 0.94);

%button-default {
    width: calc($planck-length * 8);
    min-height: calc($planck-length * 6);
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.NavigationMobileComponent {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z-index-navigation;

    width: 100%;
    height: calc(($planck-length * 8) + env(safe-area-inset-bottom));
    padding-bottom: env(safe-area-inset-bottom);

    backdrop-filter: blur(12px);

    &__side-navigation {
        background-color: $background-color;

        & > div {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    &__navigation-item {
        @extend %button-default;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: calc($planck-length / 2);

        color: $color-neutral-200;
        font-weight: bold;
        font-size: $font-size-large;
        font-family: $font-family-default;

        span {
            font-size: $font-size-xsmall;
            line-height: 1;
        }

        &--active {
            color: $color-secondary-200;
        }

        &--primary {
            position: absolute;
            top: calc($primary-button-diameter / -2);
            left: calc(50% - ($primary-button-diameter / 2));
            z-index: 1;

            width: $primary-button-diameter;
            height: $primary-button-diameter;
            min-height: $primary-button-diameter;
            padding: $padding-small;

            color: $color-neutral-100;
            font-size: $font-size-large;

            background-color: $color-accent-300;
            border-radius: 50%;
            box-shadow: $box-shadow-400;

            span {
                max-width: calc($primary-button-diameter - ($planck-length * 2));

                font-size: 10px;
                text-align: center;
            }
        }
    }

    &__primary-navigation {
        position: relative;

        width: 50%;
    }

    &__center-background {
        width: 100%;
        height: 100%;

        background-color: $background-color;

        mask-image: radial-gradient(circle calc(($primary-button-diameter / 2) + ($planck-length / 2)) at 50% 0, transparent 0, transparent calc(($primary-button-diameter / 2) + ($planck-length / 2)), $color-neutral-600);
    }
}
