@import '../../../styles/styles';

.StorybookStylerComponent {
    min-height: 100vh;
    padding: $padding-medium;

    background-color: $color-neutral-200;

    & > * {
        flex: 0 0 100%;
    }
}
